<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS,Europe/Minsk} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PERFORMANCE-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/perfomance/perfomance.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/perfomance/perfomance.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS,Europe/Minsk} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ADMIN-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/admin/admin.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/admin/admin.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS,Europe/Minsk} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="VK-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/vk/vk.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/vk/vk.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS,Europe/Minsk} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="H4T-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/h4t/h4t.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/h4t/h4t.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS,Europe/Minsk} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="WORD-SET-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/word-set/word-set.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/word-set/word-set.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS,Europe/Minsk} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SCHEDULE-LOG-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/scheduler/scheduler.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/scheduler/scheduler.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS,Europe/Minsk} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CASSANDRA-LOG-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/cassandra/cassandra.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/cassandra/cassandra.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS,Europe/Minsk} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="admin" level="DEBUG" additivity="false">
        <appender-ref ref="ADMIN-LOG"/>
    </logger>

    <logger name="performance" level="DEBUG" additivity="false">
        <appender-ref ref="PERFORMANCE-LOG"/>
    </logger>

    <logger name="vkLog" level="DEBUG" additivity="false">
        <appender-ref ref="VK-LOG"/>
    </logger>

    <logger name="H4TLog" level="DEBUG" additivity="false">
        <appender-ref ref="H4T-LOG"/>
    </logger>

    <logger name="WordSetLog" level="DEBUG" additivity="false">
        <appender-ref ref="WORD-SET-LOG"/>
    </logger>

    <logger name="ScheduleLog" level="DEBUG" additivity="false">
        <appender-ref ref="SCHEDULE-LOG-APPENDER"/>
    </logger>

    <logger name="CassandraLog" level="DEBUG" additivity="false">
        <appender-ref ref="CASSANDRA-LOG-APPENDER"/>
    </logger>


    <appender name="APP-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/app-log/app-log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/app-log/app-log.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>80</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS,Europe/Minsk} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.datastax.driver.core" level="INFO">
        <appender-ref ref="APP-LOG"/>
    </logger>

    <logger name="com.datastax.driver.core.CodecRegistry" level="INFO">
        <appender-ref ref="APP-LOG"/>
    </logger>
    <logger name="com.datastax.driver.core.RequestHandler" level="INFO">
        <appender-ref ref="APP-LOG"/>
    </logger>


    <!-- Strictly speaking, the level attribute is not necessary since -->
    <!-- the level of the root level is set to DEBUG by default.       -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="APP-LOG"/>
    </root>

</configuration>